.navbar {
  background-color: rgba(173, 216, 230, 0.219);
  color: black;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 0.3rem;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}
.profile-dropdown {
  position: relative;
  cursor: pointer;
}

.user-profile {
  padding: 0px 10px;
  border-radius: 6px;
}

.dropdown-modal {
  position: absolute;
  top: 40px;
  right: 10;
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 8px;
  width: 220px;
  z-index: 999;
}

.dropdown-modal p {
  margin: 5px 0;
  font-size: 14px;
}

.dropdown-modal button {
  margin-top: 10px;
  margin-left: 50px;
  padding: 6px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-modal button:hover {
  background-color: #c0392b;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 100;
    background-color: white;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
